<div class="task-list">
    <h2>Task List</h2>
    <ul>
      <li *ngFor="let task of tasks">
        {{ task.title }} - {{ task.description }} <br>
        {{ task.status }} <br>
        {{ task.priority }} <br>
        <button (click)="updateTaskStatus(task.id, 'Pending')">Pending</button>
        <button (click)="updateTaskStatus(task.id, 'In Progress')">In Progress</button>
        <button (click)="updateTaskStatus(task.id, 'Completed')">Completed</button>
        <button (click)="deleteTask(task.id)">Delete Task</button>
        <a [routerLink]="['/tasks/task-detail', task.id]">View Details</a>
      </li>
    </ul>
  </div>
  